[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service]
Environment=PATH=/usr/local/bin:/usr/local/sbin:/usr/bin:/bin
Environment=DISPLAY=:0
Environment=HOME=/home/nuclearsquid
Type=simple
ExecStart=/home/nuclearsquid/.cargo/bin/kanata -n --cfg /home/nuclearsquid/Code/dotFiles/config/kanata.kbd
Restart=no

[Install]
WantedBy=default.target
